DEBUG=True
SECRET_KEY=
PORT=
DB_TYPE=
DB_HOST=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_PORT=
MAILTRAP_HOST=
MAILTRAP_HOST_DEV=
MAILTRAP_PORT=
MAILTRAP_USERNAME=
MAILTRAP_PASSWORD=
QUIZ_DURATION=

# JWT
ALGORITHM=
JWT_SECRET_KEY=
JWT_REFRESH_SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_MINUTES=

# CORS URLS
DEV_FRONT_END_URL=
PROD_FRONT_END_URL=